## Import Required Libraries

In [ ]:
import pandas as pd
import numpy as np
import sqlite3 as sql

## Create Database Connection

In [ ]:
conn =sql.connect('/chinook.db')

In [ ]:
q="select * from sqlite_master where type= 'table'"

In [ ]:
pd.read_sql_query(q,conn)

,type,name,tbl_name,rootpage,sql
0,table,album,album,2,CREATE TABLE [album]\n(\n [album_id] INTEGE...
1,table,artist,artist,3,CREATE TABLE [artist]\n(\n [artist_id] INTE...
2,table,customer,customer,4,CREATE TABLE [customer]\n(\n [customer_id] ...
3,table,employee,employee,5,CREATE TABLE [employee]\n(\n [employee_id] ...
4,table,genre,genre,6,CREATE TABLE [genre]\n(\n [genre_id] INTEGE...
5,table,invoice,invoice,7,CREATE TABLE [invoice]\n(\n [invoice_id] IN...
6,table,invoice_line,invoice_line,8,CREATE TABLE [invoice_line]\n(\n [invoice_l...
7,table,media_type,media_type,9,CREATE TABLE [media_type]\n(\n [media_type_...
8,table,playlist,playlist,10,CREATE TABLE [playlist]\n(\n [playlist_id] ...
9,table,playlist_track,playlist_track,11,CREATE TABLE [playlist_track]\n(\n [playlis...
10,table,track,track,13,CREATE TABLE [track]\n(\n [track_id] INTEGE...
11,table,wishlist_track,wishlist_track,261,CREATE TABLE wishlist_track(\nwishlist_id Inte...
12,table,wishlist,wishlist,260,"CREATE TABLE ""wishlist"" (\n\t""whishlist_id""\tI..."

## Helper Function for SQL Queries

In [ ]:
def sql_query(q):
    return pd.read_sql_query(q,conn)

### Invoice-wise Track Details for Invoice ID = 1
This query retrieves detailed information about tracks purchased in a specific invoice,
including track name, media type, quantity, and unit price.

In [ ]:
q='''select invoice_id inv_id,tr.track_id track_id,tr.name track_name,il.quantity quantity,
     il.unit_price unit_price,mdt.name media_type_name
     from invoice_line il
     inner join track tr
     on
     il.track_id = tr.track_id
     inner join media_type mdt
     on
     tr.media_type_id = mdt.media_type_id
     '''

In [ ]:
sql_query(q)

,inv_id,track_id,track_name,quantity,unit_price,media_type_name
0,1,1158,Right Next Door to Hell,1,0.99,Protected AAC audio file
1,1,1159,Dust N' Bones,1,0.99,Protected AAC audio file
2,1,1160,Live and Let Die,1,0.99,Protected AAC audio file
3,1,1161,Don't Cry (Original),1,0.99,Protected AAC audio file
4,1,1162,Perfect Crime,1,0.99,Protected AAC audio file
...,...,...,...,...,...,...
4752,614,2659,Every Breath You Take,1,0.99,MPEG audio file
4753,614,2660,King Of Pain,1,0.99,MPEG audio file
4754,614,2661,Wrapped Around Your Finger,1,0.99,MPEG audio file
4755,614,2662,Don't Stand So Close to Me '86,1,0.99,MPEG audio file
4756,614,2663,Message in a Bottle (new classic rock mix),1,0.99,MPEG audio file

### Customer-wise Invoice Track Details for Invoice ID = 1
This query retrieves detailed information for a specific invoice, including
customer name, track details, media type, quantity purchased, and unit price.

In [ ]:
q ='''select inv.invoice_id invoice_id,cust.first_name customer_name,tr.track_id track_id,
       tr.name track_name,mdt.name media_type_name,il.quantity quantity,
       il.unit_price unit_price
       from invoice_line il
       inner join invoice inv
       on
       il.invoice_id = inv.invoice_id
       inner join customer cust
       on
       inv.customer_id = cust.customer_id
       inner join track tr
       on
       tr.track_id = il.track_id
       inner join media_type mdt
       on
       tr.media_type_id = mdt.media_type_id
       where il.invoice_id = 1
       '''

In [ ]:
sql_query(q)

,invoice_id,customer_name,track_id,track_name,media_type_name,quantity,unit_price
0,1,Michelle,1158,Right Next Door to Hell,Protected AAC audio file,1,0.99
1,1,Michelle,1159,Dust N' Bones,Protected AAC audio file,1,0.99
2,1,Michelle,1160,Live and Let Die,Protected AAC audio file,1,0.99
3,1,Michelle,1161,Don't Cry (Original),Protected AAC audio file,1,0.99
4,1,Michelle,1162,Perfect Crime,Protected AAC audio file,1,0.99
5,1,Michelle,1163,You Ain't the First,Protected AAC audio file,1,0.99
6,1,Michelle,1164,Bad Obsession,Protected AAC audio file,1,0.99
7,1,Michelle,1165,Back off Bitch,Protected AAC audio file,1,0.99
8,1,Michelle,1166,Double Talkin' Jive,Protected AAC audio file,1,0.99
9,1,Michelle,1167,November Rain,Protected AAC audio file,1,0.99
10,1,Michelle,1168,The Garden,Protected AAC audio file,1,0.99
11,1,Michelle,1169,Garden of Eden,Protected AAC audio file,1,0.99
12,1,Michelle,1170,Don't Damn Me,Protected AAC audio file,1,0.99
13,1,Michelle,1171,Bad Apples,Protected AAC audio file,1,0.99
14,1,Michelle,1172,Dead Horse,Protected AAC audio file,1,0.99
15,1,Michelle,1173,Coma,Protected AAC audio file,1,0.99

### Track-wise Album and Artist Details
This query retrieves each track along with its corresponding album title
and artist name.

In [ ]:
q ='''select tr.track_id,alb.title album_title,art.name artist_name
from track tr inner join album alb
      on
      tr.album_id = alb.album_id
      inner join artist art
      on
      alb.artist_id =art.artist_id'''

In [ ]:
sql_query(q)

,track_id,album_title,artist_name
0,1,For Those About To Rock We Salute You,AC/DC
1,6,For Those About To Rock We Salute You,AC/DC
2,7,For Those About To Rock We Salute You,AC/DC
3,8,For Those About To Rock We Salute You,AC/DC
4,9,For Those About To Rock We Salute You,AC/DC
...,...,...,...
3498,3499,Respighi:Pines of Rome,Eugene Ormandy
3499,3500,Schubert: The Late String Quartets & String Qu...,Emerson String Quartet
3500,3501,Monteverdi: L'Orfeo,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
3501,3502,Mozart: Chamber Music,Nash Ensemble
3502,3503,Koyaanisqatsi (Soundtrack from the Motion Pict...,Philip Glass Ensemble

### Number of Tracks Sold by Album and Artist
This query calculates the total number of tracks sold for each album,
along with the corresponding artist name.

In [ ]:
q='''select count(il.track_id) no_of_tracks_sale,alb.title album_name,
     art.name artist_name
     from invoice_line il
     inner join track tr
     on
     il.track_id = tr.track_id
     inner join album alb
     on
     tr.album_id = alb.album_id
     inner join artist art
     on
     alb.artist_id = art.artist_id
     group by 2'''

In [ ]:
sql_query(q)

,no_of_tracks_sale,album_name,artist_name
0,3,...And Justice For All,Metallica
1,74,20th Century Masters - The Millennium Collecti...,Scorpions
2,4,A Matter of Life and Death,Iron Maiden
3,7,A Real Dead One,Iron Maiden
4,3,A Real Live One,Iron Maiden
...,...,...,...
246,4,Walking Into Clarksdale,Page & Plant
247,7,War,U2
248,18,Warner 25 Anos,AntÃ´nio Carlos Jobim
249,3,Worlds,Aaron Goldberg
250,5,Zooropa,U2

### Top 5 Track Sold
This query calculates the Top 5 tracks sold for each album,
along with the corresponding track name.

In [ ]:
q='''select sum(il.quantity) track_sale,tr.name track_name,alb.title album_name
     from invoice_line il
     inner join track tr
     on
     il.track_id =tr.track_id
     inner join album alb
     on
     tr.album_id =alb.album_id
     group by 3
     order by 1 desc
     limit 5'''

In [ ]:
sql_query(q)

   track_sale            track_name            album_name
0         187  Are You Experienced?  Are You Experienced?
1          96              Serenity              Faceless
2          93   Violent Pornography             Mezmerize
3          90     Get Me Outta Here              Get Born
4          83       I Looked At You             The Doors

### Number of Tracks in Each Genre
This query calculates the total number of tracks available in each genre,
helping identify which genres have the largest catalog.

In [ ]:
q='''select tr.name track_name,gen.genre_id genre_id,gen.name genre_name,
     count(tr.track_id) track_id
     from track tr
     inner join genre gen
     on
     tr.genre_id = gen.genre_id
     group by genre_name
     order by track_id desc '''

In [ ]:
sql_query(q)

,track_name,genre_id,genre_name,track_id
0,For Those About To Rock (We Salute You),1,Rock,1297
1,Jorge Da CapadÃ³cia,7,Latin,579
2,Enter Sandman,3,Metal,374
3,Your Time Has Come,4,Alternative & Punk,332
4,Desafinado,2,Jazz,130
5,Occupation / Precipice,19,TV Shows,93
6,First Time I Met The Blues,6,Blues,81
7,"Symphony No. 3 in E-flat major, Op. 55, ""Eroic...",24,Classical,74
8,Don't Look Back,21,Drama,64
9,Please Please Please,14,R&B/Soul,61
10,Girassol,8,Reggae,58
11,"Dig-Dig, Lambe-Lambe (Ao Vivo)",9,Pop,48
12,Vai-Vai 2001,10,Soundtrack,43
13,War Pigs,23,Alternative,40
14,ZeroVinteUm,17,Hip Hop/Rap,35
15,Just Another Story,15,Electronica/Dance,30
16,Pura Elegancia,16,World,28
17,Wildest Dreams,13,Heavy Metal,28
18,"Crossroads, Pt. 1",20,Sci Fi & Fantasy,26
19,My Way,12,Easy Listening,24
20,The Convict,22,Comedy,17
21,Samba Da BÃªnÃ§Ã£o,11,Bossa Nova,15
22,Battlestar Galactica: The Story So Far,18,Science Fiction,13
23,Money,5,Rock And Roll,12
24,"Die ZauberflÃ¶te, K.620: ""Der HÃ¶lle Rache Kocht...",25,Opera,1

### Albums with More Than 10 Tracks
This query identifies albums that contain more than 10 tracks,
highlighting albums with larger track collections

In [ ]:
q ='''select count(tr.track_id) track_id,alb.title album_name from
      track tr
      inner join album alb
      on
      tr.album_id = alb.album_id
      group by album_name
      having count(tr.track_id) > 10

       '''

In [ ]:
sql_query(q)

     track_id                                         album_name
0          12  20th Century Masters - The Millennium Collecti...
1          11                         A Matter of Life and Death
2          12                                    A Real Dead One
3          11                                    A Real Live One
4          15         A TempestadeTempestade Ou O Livro Dos Dias
..        ...                                                ...
178        15                                      Voodoo Lounge
179        14                                       Vozes do MPB
180        12                                                Vs.
181        12                            Walking Into Clarksdale
182        14                                     Warner 25 Anos

[183 rows x 2 columns]

### Top-Spending Customer in Each Country
This query identifies the customer who has spent the most money
in each country, helping understand regional high-value customers.

In [ ]:
q='''select cus.first_name||" "||cus.last_name Customer_name,cus.country Country,
     inv.customer_id Customer_id,sum(inv.total) Total_spent
     from customer cus
     inner join invoice inv
     on
     cus.customer_id = inv.customer_id
     group by Country
     order by Total_spent desc
 '''

In [ ]:
sql_query(q)

            Customer_name         Country  Customer_id  Total_spent
0         Michelle Brooks             USA           18      1040.49
1          Edward Francis          Canada           30       535.59
2          LuÃ­s GonÃ§alves          Brazil            1       427.68
3      Dominique Lefebvre          France           40       389.07
4         Niklas SchrÃ¶der         Germany           38       334.62
5   FrantiÅ¡ek WichterlovÃ¡  Czech Republic            5       273.24
6             Phil Hughes  United Kingdom           53       245.52
7        Madalena Sampaio        Portugal           35       185.13
8         Puja Srivastava           India           59       183.15
9           Hugh O'Reilly         Ireland           46       114.84
10          Enrique MuÃ±oz           Spain           50        98.01
11             Luis Rojas           Chile           57        97.02
12            Mark Taylor       Australia           55        81.18
13       Terhi HÃ¤mÃ¤lÃ¤inen         Finland           44        79.20
14        Ladislav KovÃ¡cs         Hungary           45        78.21
15       StanisÅ‚aw WÃ³jcik          Poland           49        76.23
16       Joakim Johansson          Sweden           51        75.24
17           BjÃ¸rn Hansen          Norway            4        72.27
18          Astrid Gruber         Austria            7        69.30
19  Johannes Van der Berg     Netherlands           48        65.34
20           Daan Peeters         Belgium            8        60.39
21          Lucas Mancini           Italy           47        50.49
22        Diego GutiÃ©rrez       Argentina           56        39.60
23           Kara Nielsen         Denmark            9        37.62

In [ ]:
#Sub Quries
# q='''with best_customer_id as(
#   select cus.first_name||" "||cus.last_name Customer_name,cus.country Country,
#      inv.customer_id Customer_id,sum(inv.total) Total_purchased
#      from customer cus
#      inner join invoice inv
#      on
#      cus.customer_id = inv.customer_id
#      group by 1
# )
# select Customer_id,Country,Customer_name,max(Total_purchased) Top_Buyer
# from best_customer_id
# group by 2 '''

In [ ]:
q3 ='''WITH customer_spending AS (
    SELECT
        cus.customer_id AS Best_customer_id,
        cus.first_name || ' ' || cus.last_name AS Customer_name,
        cus.country AS Country,
        SUM(inv.total) AS Total_spent
    FROM customer cus
    INNER JOIN invoice inv
        ON cus.customer_id = inv.customer_id
    GROUP BY
        cus.customer_id, cus.first_name, cus.last_name, cus.country
),
ranked_customers AS (
    SELECT *,
           ROW_NUMBER() OVER (
               PARTITION BY Country
               ORDER BY Total_spent DESC
           ) AS rn
    FROM customer_spending
)
SELECT
    Best_customer_id,
    Customer_name,
    Country,
    Total_spent AS Top_Buyer
FROM ranked_customers
WHERE rn = 1 '''

In [ ]:
sql_query(q3)

    Best_customer_id          Customer_name         Country  Top_Buyer
0                 56        Diego GutiÃ©rrez       Argentina      39.60
1                 55            Mark Taylor       Australia      81.18
2                  7          Astrid Gruber         Austria      69.30
3                  8           Daan Peeters         Belgium      60.39
4                  1         LuÃ­s GonÃ§alves          Brazil     108.90
5                  3      FranÃ§ois Tremblay          Canada      99.99
6                 57             Luis Rojas           Chile      97.02
7                  5  FrantiÅ¡ek WichterlovÃ¡  Czech Republic     144.54
8                  9           Kara Nielsen         Denmark      37.62
9                 44       Terhi HÃ¤mÃ¤lÃ¤inen         Finland      79.20
10                42           Wyatt Girard          France      99.99
11                37        Fynn Zimmermann         Germany      94.05
12                45        Ladislav KovÃ¡cs         Hungary      78.21
13                58           Manoj Pareek           India     111.87
14                46          Hugh O'Reilly         Ireland     114.84
15                47          Lucas Mancini           Italy      50.49
16                48  Johannes Van der Berg     Netherlands      65.34
17                 4           BjÃ¸rn Hansen          Norway      72.27
18                49       StanisÅ‚aw WÃ³jcik          Poland      76.23
19                34         JoÃ£o Fernandes        Portugal     102.96
20                50          Enrique MuÃ±oz           Spain      98.01
21                51       Joakim Johansson          Sweden      75.24
22                17             Jack Smith             USA      98.01
23                53            Phil Hughes  United Kingdom      98.01

### Employee Table Overview
This query retrieves all records and columns from the Employee table.

In [ ]:
q='''select * from employee'''

In [ ]:
sql_query(q)

,employee_id,last_name,first_name,title,reports_to,birthdate,hire_date,address,city,state,country,postal_code,phone,fax,email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2016-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2016-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2017-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2017-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2017-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2016-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2017-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2017-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

### Employee Details and Reporting Structure
This query retrieves employee names, job titles, employee IDs,
and their reporting manager IDs.

In [ ]:
q='''select first_name||" "||last_name full_name,
     title,employee_id,reports_to from employee'''

In [ ]:
sql_query(q)

          full_name                title  employee_id  reports_to
0      Andrew Adams      General Manager            1         NaN
1     Nancy Edwards        Sales Manager            2         1.0
2      Jane Peacock  Sales Support Agent            3         2.0
3     Margaret Park  Sales Support Agent            4         2.0
4     Steve Johnson  Sales Support Agent            5         2.0
5  Michael Mitchell           IT Manager            6         1.0
6       Robert King             IT Staff            7         6.0
7    Laura Callahan             IT Staff            8         6.0

### Employee and Supervisor Details Using Self Join
This query joins the employee table with itself to replace the
Reports_To ID with the corresponding supervisor's name,
showing the employeeâ€“manager relationship.

In [ ]:
q='''select emp.first_name||" "||emp.last_name Full_Name,emp.title Employee_Title,
     emp.employee_id ID,emp.reports_to reports,emp2.first_name||" "||emp2.last_name Superviser_Name
     from employee emp
     left join employee emp2
     on
     emp.reports_to = emp2.employee_id
    '''

In [ ]:
sql_query(q)

          Full_Name       Employee_Title  ID  reports   Superviser_Name
0      Andrew Adams      General Manager   1      NaN              None
1     Nancy Edwards        Sales Manager   2      1.0      Andrew Adams
2      Jane Peacock  Sales Support Agent   3      2.0     Nancy Edwards
3     Margaret Park  Sales Support Agent   4      2.0     Nancy Edwards
4     Steve Johnson  Sales Support Agent   5      2.0     Nancy Edwards
5  Michael Mitchell           IT Manager   6      1.0      Andrew Adams
6       Robert King             IT Staff   7      6.0  Michael Mitchell
7    Laura Callahan             IT Staff   8      6.0  Michael Mitchell

In [ ]:
q='''select emp.first_name||" "||emp.last_name Full_Name,emp.title Employee_Title,
     emp.employee_id ID,emp.reports_to reports,emp2.first_name||" "||emp2.last_name Superviser_Name
     from employee emp
     inner join employee emp2
     on
     emp.reports_to = emp2.employee_id
    '''

In [ ]:
sql_query(q)

          Full_Name       Employee_Title  ID  reports   Superviser_Name
0     Nancy Edwards        Sales Manager   2        1      Andrew Adams
1      Jane Peacock  Sales Support Agent   3        2     Nancy Edwards
2     Margaret Park  Sales Support Agent   4        2     Nancy Edwards
3     Steve Johnson  Sales Support Agent   5        2     Nancy Edwards
4  Michael Mitchell           IT Manager   6        1      Andrew Adams
5       Robert King             IT Staff   7        6  Michael Mitchell
6    Laura Callahan             IT Staff   8        6  Michael Mitchell

### Customer Table Overview
This query retrieves all records and columns from the Customer table.

In [ ]:
q='''select * from customer'''
sql_query(q)

,customer_id,first_name,last_name,company,address,city,state,country,postal_code,phone,fax,email,support_rep_id
0,1,LuÃ­s,GonÃ§alves,Embraer - Empresa Brasileira de AeronÃ¡utica S.A.,"Av. Brigadeiro Faria Lima, 2170",SÃ£o JosÃ© dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,KÃ¶hler,None,Theodor-Heuss-StraÃŸe 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,FranÃ§ois,Tremblay,None,1498 rue BÃ©langer,MontrÃ©al,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,BjÃ¸rn,Hansen,None,UllevÃ¥lsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,FrantiÅ¡ek,WichterlovÃ¡,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,HolÃ½,None,RilskÃ¡ 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"RotenturmstraÃŸe 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,GrÃ©trystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,SÃ¸nder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. FalcÃ£o Filho, 155",SÃ£o Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",SÃ£o Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
11,12,Roberto,Almeida,Riotur,"PraÃ§a Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
12,13,Fernanda,Ramos,None,Qe 7 Bloco G,BrasÃ­lia,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
17,18,Michelle,Brooks,None,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
19,20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4
20,21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5
21,22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4
22,23,John,Gordon,None,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4
23,24,Frank,Ralston,None,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,None,fralston@gmail.com,3
24,25,Victor,Stevens,None,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,None,vstevens@yahoo.com,5
25,26,Richard,Cunningham,None,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,None,ricunningham@hotmail.com,4
26,27,Patrick,Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4
27,28,Julia,Barnett,None,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,None,jubarnett@gmail.com,5
28,29,Robert,Brown,None,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,None,robbrown@shaw.ca,3
29,30,Edward,Francis,None,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,None,edfrancis@yachoo.ca,3
30,31,Martha,Silk,None,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,None,marthasilk@gmail.com,5
31,32,Aaron,Mitchell,None,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,None,aaronmitchell@yahoo.ca,4
32,33,Ellie,Sullivan,None,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,None,ellie.sullivan@shaw.ca,3
33,34,JoÃ£o,Fernandes,None,Rua da AssunÃ§Ã£o 53,Lisbon,None,Portugal,None,+351 (213) 466-111,None,jfernandes@yahoo.pt,4
34,35,Madalena,Sampaio,None,"Rua dos CampeÃµes Europeus de Viena, 4350",Porto,None,Portugal,None,+351 (225) 022-448,None,masampaio@sapo.pt,4
35,36,Hannah,Schneider,None,TauentzienstraÃŸe 8,Berlin,None,Germany,10789,+49 030 26550280,None,hannah.schneider@yahoo.de,5
36,37,Fynn,Zimmermann,None,Berger StraÃŸe 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
37,38,Niklas,SchrÃ¶der,None,BarbarossastraÃŸe 19,Berlin,None,Germany,10779,+49 030 2141444,None,nschroder@surfeu.de,3
38,39,Camille,Bernard,None,"4, Rue Milton",Paris,None,France,75009,+33 01 49 70 65 65,None,camille.bernard@yahoo.fr,4
39,40,Dominique,Lefebvre,None,"8, Rue Hanovre",Paris,None,France,75002,+33 01 47 42 71 71,None,dominiquelefebvre@gmail.com,4
40,41,Marc,Dubois,None,"11, Place Bellecour",Lyon,None,France,69002,+33 04 78 30 30 30,None,marc.dubois@hotmail.com,5
41,42,Wyatt,Girard,None,"9, Place Louis Barthou",Bordeaux,None,France,33000,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr,3
42,43,Isabelle,Mercier,None,"68, Rue Jouvence",Dijon,None,France,21000,+33 03 80 73 66 99,None,isabelle_mercier@apple.fr,3
43,44,Terhi,HÃ¤mÃ¤lÃ¤inen,None,Porthaninkatu 9,Helsinki,None,Finland,00530,+358 09 870 2000,None,terhi.hamalainen@apple.fi,3
44,45,Ladislav,KovÃ¡cs,None,ErzsÃ©bet krt. 58.,Budapest,None,Hungary,H-1073,None,None,ladislav_kovacs@apple.hu,3
45,46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3
46,47,Lucas,Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5
47,48,Johannes,Van der Berg,None,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,None,johavanderberg@yahoo.nl,5
48,49,StanisÅ‚aw,WÃ³jcik,None,Ordynacka 10,Warsaw,None,Poland,00-358,+48 22 828 37 39,None,stanisÅ‚aw.wÃ³jcik@wp.pl,4
49,50,Enrique,MuÃ±oz,None,C/ San Bernardo 85,Madrid,None,Spain,28015,+34 914 454 454,None,enrique_munoz@yahoo.es,5
50,51,Joakim,Johansson,None,Celsiusg. 9,Stockholm,None,Sweden,11230,+46 08-651 52 52,None,joakim.johansson@yahoo.se,5
51,52,Emma,Jones,None,202 Hoxton Street,London,None,United Kingdom,N1 5LH,+44 020 7707 0707,None,emma_jones@hotmail.com,3
52,53,Phil,Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3
53,54,Steve,Murray,None,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,+44 0131 315 3300,None,steve.murray@yahoo.uk,5
54,55,Mark,Taylor,None,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,None,mark.taylor@yahoo.au,4
55,56,Diego,GutiÃ©rrez,None,307 Macacha GÃ¼emes,Buenos Aires,None,Argentina,1106,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar,4
56,57,Luis,Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5
57,58,Manoj,Pareek,None,"12,Community Centre",Delhi,None,India,110017,+91 0124 39883988,None,manoj.pareek@rediff.com,3
58,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3

## '_' The first word could be anything and then would be matches the pattern

In [ ]:
q='''select first_name||" "||last_name as customer_name from customer
     where first_name like "_en%"
     '''

In [ ]:
sql_query(q)

       customer_name
0  Jennifer Peterson

## Find customer details which contains 'JEN' in customer name

In [ ]:
q='''select first_name||" "||last_name customer_name from customer
     where first_name like "JEN%"
     '''

In [ ]:
sql_query(q)

       customer_name
0  Jennifer Peterson

In [ ]:
 # if use '%' in starting so given pattern returns any word in "an" whatever in starting
 # and ending or center code return all these type of results
q ='''select first_name||" "||last_name customer_name,email email_address,country
      from customer where first_name like "%an%" '''

In [ ]:
sql_query(q)

            customer_name              email_address         country
0       FranÃ§ois Tremblay        ftremblay@gmail.com          Canada
1   FrantiÅ¡ek WichterlovÃ¡   frantisekw@jetbrains.com  Czech Republic
2            Daan Peeters      daan_peeters@apple.be         Belgium
3         Alexandre Rocha           alero@uol.com.br          Brazil
4          Fernanda Ramos   fernadaramos4@uol.com.br          Brazil
5            Frank Harris         fharris@google.com             USA
6              Dan Miller        dmiller@comcast.com             USA
7           Frank Ralston         fralston@gmail.com             USA
8        Hannah Schneider  hannah.schneider@yahoo.de         Germany
9   Johannes Van der Berg    johavanderberg@yahoo.nl     Netherlands
10       StanisÅ‚aw WÃ³jcik     stanisÅ‚aw.wÃ³jcik@wp.pl          Poland
11           Manoj Pareek    manoj.pareek@rediff.com           India

### Customer-wise Invoice Count and Total Spending
This query calculates the total number of invoices generated by each customer
along with their total spending at the store.

In [ ]:
q ='''select cus.first_name||" "||cus.last_name customer_name,count(cus.customer_id) No_of_invoices,
      sum(inv.total) total from customer cus
      inner join invoice inv
      on
      cus.customer_id=inv.customer_id
      group by cus.customer_id'''

In [ ]:
sql_query(q)

            customer_name  No_of_invoices   total
0          LuÃ­s GonÃ§alves              13  108.90
1           Leonie KÃ¶hler              11   82.17
2       FranÃ§ois Tremblay               9   99.99
3            BjÃ¸rn Hansen               9   72.27
4   FrantiÅ¡ek WichterlovÃ¡              18  144.54
5             Helena HolÃ½              12  128.70
6           Astrid Gruber               9   69.30
7            Daan Peeters               7   60.39
8            Kara Nielsen              10   37.62
9         Eduardo Martins              12   60.39
10        Alexandre Rocha              10   69.30
11        Roberto Almeida              11   82.17
12         Fernanda Ramos              15  106.92
13           Mark Philips              10   29.70
14      Jennifer Peterson               9   66.33
15           Frank Harris               8   74.25
16             Jack Smith              12   98.01
17        Michelle Brooks               8   79.20
18              Tim Goyer               9   54.45
19             Dan Miller              12   95.04
20            Kathy Chase              11   91.08
21        Heather Leacock              12   92.07
22            John Gordon              10   66.33
23          Frank Ralston               8   71.28
24         Victor Stevens              10   76.23
25     Richard Cunningham              12   86.13
26           Patrick Gray               9   84.15
27          Julia Barnett              10   72.27
28           Robert Brown               4   40.59
29         Edward Francis              13   91.08
30            Martha Silk              11   62.37
31         Aaron Mitchell               8   70.29
32         Ellie Sullivan              12   75.24
33         JoÃ£o Fernandes              13  102.96
34       Madalena Sampaio              16   82.17
35       Hannah Schneider              11   85.14
36        Fynn Zimmermann              10   94.05
37        Niklas SchrÃ¶der               9   73.26
38        Camille Bernard               9   79.20
39     Dominique Lefebvre               9   72.27
40            Marc Dubois               9   64.35
41           Wyatt Girard              11   99.99
42       Isabelle Mercier              12   73.26
43       Terhi HÃ¤mÃ¤lÃ¤inen              11   79.20
44        Ladislav KovÃ¡cs              10   78.21
45          Hugh O'Reilly              13  114.84
46          Lucas Mancini               9   50.49
47  Johannes Van der Berg              10   65.34
48       StanisÅ‚aw WÃ³jcik              10   76.23
49          Enrique MuÃ±oz              11   98.01
50       Joakim Johansson              10   75.24
51             Emma Jones               8   68.31
52            Phil Hughes              11   98.01
53           Steve Murray               9   79.20
54            Mark Taylor              10   81.18
55        Diego GutiÃ©rrez               5   39.60
56             Luis Rojas              13   97.02
57           Manoj Pareek              13  111.87
58        Puja Srivastava               8   71.28

### Top 5 Customer with No of Invoices and Total Spent
This query calculate the Top Top 5 Customer with No of Invoices and Total Spent

In [ ]:
q='''select cus.first_name||" "||cus.last_name customer_name,
     count(inv.invoice_id) No_of_invoices,sum(inv.total) Total_spent
     from customer cus
     inner join invoice inv
     on
     cus.customer_id = inv.customer_id
     group by cus.customer_id
     order by 3 desc
     limit 5 '''

In [ ]:
sql_query(q)

           customer_name  No_of_invoices  Total_spent
0  FrantiÅ¡ek WichterlovÃ¡              18       144.54
1            Helena HolÃ½              12       128.70
2          Hugh O'Reilly              13       114.84
3           Manoj Pareek              13       111.87
4         LuÃ­s GonÃ§alves              13       108.90

### Customer Segmentation Based on Total Spending
This query categorizes customers into spending groups
(Small Spender, Regular, Big Spender) based on their total purchase amount.

In [ ]:
q='''Select cus.first_name||" "||cus.last_name customer_name,
     count(inv.invoice_id) No_of_invoices,sum(inv.total) Total_Spent,
     Case
         When sum(inv.total) < 40 Then "Small spender"
         When sum(inv.total) > 100  Then "Big Spender"
         Else "Regular"
     End as customer_category
     from invoice inv
     inner join customer cus
     on
     inv.customer_id = cus.customer_id
     group by cus.customer_id '''

In [ ]:
sql_query(q)

            customer_name  No_of_invoices  Total_Spent customer_category
0          LuÃ­s GonÃ§alves              13       108.90       Big Spender
1           Leonie KÃ¶hler              11        82.17           Regular
2       FranÃ§ois Tremblay               9        99.99           Regular
3            BjÃ¸rn Hansen               9        72.27           Regular
4   FrantiÅ¡ek WichterlovÃ¡              18       144.54       Big Spender
5             Helena HolÃ½              12       128.70       Big Spender
6           Astrid Gruber               9        69.30           Regular
7            Daan Peeters               7        60.39           Regular
8            Kara Nielsen              10        37.62     Small spender
9         Eduardo Martins              12        60.39           Regular
10        Alexandre Rocha              10        69.30           Regular
11        Roberto Almeida              11        82.17           Regular
12         Fernanda Ramos              15       106.92       Big Spender
13           Mark Philips              10        29.70     Small spender
14      Jennifer Peterson               9        66.33           Regular
15           Frank Harris               8        74.25           Regular
16             Jack Smith              12        98.01           Regular
17        Michelle Brooks               8        79.20           Regular
18              Tim Goyer               9        54.45           Regular
19             Dan Miller              12        95.04           Regular
20            Kathy Chase              11        91.08           Regular
21        Heather Leacock              12        92.07           Regular
22            John Gordon              10        66.33           Regular
23          Frank Ralston               8        71.28           Regular
24         Victor Stevens              10        76.23           Regular
25     Richard Cunningham              12        86.13           Regular
26           Patrick Gray               9        84.15           Regular
27          Julia Barnett              10        72.27           Regular
28           Robert Brown               4        40.59           Regular
29         Edward Francis              13        91.08           Regular
30            Martha Silk              11        62.37           Regular
31         Aaron Mitchell               8        70.29           Regular
32         Ellie Sullivan              12        75.24           Regular
33         JoÃ£o Fernandes              13       102.96       Big Spender
34       Madalena Sampaio              16        82.17           Regular
35       Hannah Schneider              11        85.14           Regular
36        Fynn Zimmermann              10        94.05           Regular
37        Niklas SchrÃ¶der               9        73.26           Regular
38        Camille Bernard               9        79.20           Regular
39     Dominique Lefebvre               9        72.27           Regular
40            Marc Dubois               9        64.35           Regular
41           Wyatt Girard              11        99.99           Regular
42       Isabelle Mercier              12        73.26           Regular
43       Terhi HÃ¤mÃ¤lÃ¤inen              11        79.20           Regular
44        Ladislav KovÃ¡cs              10        78.21           Regular
45          Hugh O'Reilly              13       114.84       Big Spender
46          Lucas Mancini               9        50.49           Regular
47  Johannes Van der Berg              10        65.34           Regular
48       StanisÅ‚aw WÃ³jcik              10        76.23           Regular
49          Enrique MuÃ±oz              11        98.01           Regular
50       Joakim Johansson              10        75.24           Regular
51             Emma Jones               8        68.31           Regular
52            Phil Hughes              11        98.01           Regular
53           Steve Murray               9        79.20           Regular
54            Mark Taylor              10        81.18           Regular
55        Diego GutiÃ©rrez               5        39.60     Small spender
56             Luis Rojas              13        97.02           Regular
57           Manoj Pareek              13       111.87       Big Spender
58        Puja Srivastava               8        71.28           Regular

In [ ]:
# value_count
q2='''select cus.first_name||" "||last_name customer_name,count(inv.invoice_id) no_of_invoices,
     sum(inv.total) total_spent,
     Case
         When sum(inv.total) < 40 then "Small spender"
         When sum(inv.total) > 100 then "Big spender"
         Else "Regular"
     End as Customer_category
     from invoice inv
     inner join customer cus
     on
     inv.customer_id = cus.customer_id
     group by cus.customer_id
     '''

In [ ]:
sql_query(q2)['Customer_category'].value_counts()

Customer_category
Regular          49
Big spender       7
Small spender     3
Name: count, dtype: int64

### Customer Details with Invoice Count and Total Spending
This query joins the Customer and Invoice tables using customer_id
and calculates the total number of invoices and total amount spent by each customer.

In [ ]:
q='''select c.*,count(inv.customer_id) customer_id,
     sum(inv.total) total_spent
     from customer c
     inner join invoice inv
     on
     c.customer_id = inv.customer_id
     group by inv.customer_id'''

In [ ]:
sql_query(q)

,customer_id,first_name,last_name,company,address,city,state,country,postal_code,phone,fax,email,support_rep_id,customer_id,total_spent
0,1,LuÃ­s,GonÃ§alves,Embraer - Empresa Brasileira de AeronÃ¡utica S.A.,"Av. Brigadeiro Faria Lima, 2170",SÃ£o JosÃ© dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,13,108.90
1,2,Leonie,KÃ¶hler,None,Theodor-Heuss-StraÃŸe 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5,11,82.17
2,3,FranÃ§ois,Tremblay,None,1498 rue BÃ©langer,MontrÃ©al,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3,9,99.99
3,4,BjÃ¸rn,Hansen,None,UllevÃ¥lsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4,9,72.27
4,5,FrantiÅ¡ek,WichterlovÃ¡,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4,18,144.54
5,6,Helena,HolÃ½,None,RilskÃ¡ 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5,12,128.70
6,7,Astrid,Gruber,None,"RotenturmstraÃŸe 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5,9,69.30
7,8,Daan,Peeters,None,GrÃ©trystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4,7,60.39
8,9,Kara,Nielsen,None,SÃ¸nder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4,10,37.62
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. FalcÃ£o Filho, 155",SÃ£o Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4,12,60.39
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",SÃ£o Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5,10,69.30
11,12,Roberto,Almeida,Riotur,"PraÃ§a Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3,11,82.17
12,13,Fernanda,Ramos,None,Qe 7 Bloco G,BrasÃ­lia,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4,15,106.92
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5,10,29.70
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3,9,66.33
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4,8,74.25
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5,12,98.01
17,18,Michelle,Brooks,None,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3,8,79.20
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3,9,54.45
19,20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4,12,95.04
20,21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5,11,91.08
21,22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4,12,92.07
22,23,John,Gordon,None,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4,10,66.33
23,24,Frank,Ralston,None,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,None,fralston@gmail.com,3,8,71.28
24,25,Victor,Stevens,None,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,None,vstevens@yahoo.com,5,10,76.23
25,26,Richard,Cunningham,None,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,None,ricunningham@hotmail.com,4,12,86.13
26,27,Patrick,Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4,9,84.15
27,28,Julia,Barnett,None,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,None,jubarnett@gmail.com,5,10,72.27
28,29,Robert,Brown,None,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,None,robbrown@shaw.ca,3,4,40.59
29,30,Edward,Francis,None,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,None,edfrancis@yachoo.ca,3,13,91.08
30,31,Martha,Silk,None,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,None,marthasilk@gmail.com,5,11,62.37
31,32,Aaron,Mitchell,None,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,None,aaronmitchell@yahoo.ca,4,8,70.29
32,33,Ellie,Sullivan,None,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,None,ellie.sullivan@shaw.ca,3,12,75.24
33,34,JoÃ£o,Fernandes,None,Rua da AssunÃ§Ã£o 53,Lisbon,None,Portugal,None,+351 (213) 466-111,None,jfernandes@yahoo.pt,4,13,102.96
34,35,Madalena,Sampaio,None,"Rua dos CampeÃµes Europeus de Viena, 4350",Porto,None,Portugal,None,+351 (225) 022-448,None,masampaio@sapo.pt,4,16,82.17
35,36,Hannah,Schneider,None,TauentzienstraÃŸe 8,Berlin,None,Germany,10789,+49 030 26550280,None,hannah.schneider@yahoo.de,5,11,85.14
36,37,Fynn,Zimmermann,None,Berger StraÃŸe 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3,10,94.05
37,38,Niklas,SchrÃ¶der,None,BarbarossastraÃŸe 19,Berlin,None,Germany,10779,+49 030 2141444,None,nschroder@surfeu.de,3,9,73.26
38,39,Camille,Bernard,None,"4, Rue Milton",Paris,None,France,75009,+33 01 49 70 65 65,None,camille.bernard@yahoo.fr,4,9,79.20
39,40,Dominique,Lefebvre,None,"8, Rue Hanovre",Paris,None,France,75002,+33 01 47 42 71 71,None,dominiquelefebvre@gmail.com,4,9,72.27
40,41,Marc,Dubois,None,"11, Place Bellecour",Lyon,None,France,69002,+33 04 78 30 30 30,None,marc.dubois@hotmail.com,5,9,64.35
41,42,Wyatt,Girard,None,"9, Place Louis Barthou",Bordeaux,None,France,33000,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr,3,11,99.99
42,43,Isabelle,Mercier,None,"68, Rue Jouvence",Dijon,None,France,21000,+33 03 80 73 66 99,None,isabelle_mercier@apple.fr,3,12,73.26
43,44,Terhi,HÃ¤mÃ¤lÃ¤inen,None,Porthaninkatu 9,Helsinki,None,Finland,00530,+358 09 870 2000,None,terhi.hamalainen@apple.fi,3,11,79.20
44,45,Ladislav,KovÃ¡cs,None,ErzsÃ©bet krt. 58.,Budapest,None,Hungary,H-1073,None,None,ladislav_kovacs@apple.hu,3,10,78.21
45,46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3,13,114.84
46,47,Lucas,Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5,9,50.49
47,48,Johannes,Van der Berg,None,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,None,johavanderberg@yahoo.nl,5,10,65.34
48,49,StanisÅ‚aw,WÃ³jcik,None,Ordynacka 10,Warsaw,None,Poland,00-358,+48 22 828 37 39,None,stanisÅ‚aw.wÃ³jcik@wp.pl,4,10,76.23
49,50,Enrique,MuÃ±oz,None,C/ San Bernardo 85,Madrid,None,Spain,28015,+34 914 454 454,None,enrique_munoz@yahoo.es,5,11,98.01
50,51,Joakim,Johansson,None,Celsiusg. 9,Stockholm,None,Sweden,11230,+46 08-651 52 52,None,joakim.johansson@yahoo.se,5,10,75.24
51,52,Emma,Jones,None,202 Hoxton Street,London,None,United Kingdom,N1 5LH,+44 020 7707 0707,None,emma_jones@hotmail.com,3,8,68.31
52,53,Phil,Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3,11,98.01
53,54,Steve,Murray,None,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,+44 0131 315 3300,None,steve.murray@yahoo.uk,5,9,79.20
54,55,Mark,Taylor,None,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,None,mark.taylor@yahoo.au,4,10,81.18
55,56,Diego,GutiÃ©rrez,None,307 Macacha GÃ¼emes,Buenos Aires,None,Argentina,1106,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar,4,5,39.60
56,57,Luis,Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5,13,97.02
57,58,Manoj,Pareek,None,"12,Community Centre",Delhi,None,India,110017,+91 0124 39883988,None,manoj.pareek@rediff.com,3,13,111.87
58,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3,8,71.28

In [ ]:
#Left join
q='''select c.*,count(inv.customer_id) customer_id,
     sum(inv.total) total_spent
     from customer c
     left join invoice inv
     on
     c.customer_id = inv.customer_id
     group by inv.customer_id'''

In [ ]:
sql_query(q)

,customer_id,first_name,last_name,company,address,city,state,country,postal_code,phone,fax,email,support_rep_id,customer_id,total_spent
0,1,LuÃ­s,GonÃ§alves,Embraer - Empresa Brasileira de AeronÃ¡utica S.A.,"Av. Brigadeiro Faria Lima, 2170",SÃ£o JosÃ© dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,13,108.90
1,2,Leonie,KÃ¶hler,None,Theodor-Heuss-StraÃŸe 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5,11,82.17
2,3,FranÃ§ois,Tremblay,None,1498 rue BÃ©langer,MontrÃ©al,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3,9,99.99
3,4,BjÃ¸rn,Hansen,None,UllevÃ¥lsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4,9,72.27
4,5,FrantiÅ¡ek,WichterlovÃ¡,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4,18,144.54
5,6,Helena,HolÃ½,None,RilskÃ¡ 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5,12,128.70
6,7,Astrid,Gruber,None,"RotenturmstraÃŸe 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5,9,69.30
7,8,Daan,Peeters,None,GrÃ©trystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4,7,60.39
8,9,Kara,Nielsen,None,SÃ¸nder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4,10,37.62
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. FalcÃ£o Filho, 155",SÃ£o Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4,12,60.39
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",SÃ£o Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5,10,69.30
11,12,Roberto,Almeida,Riotur,"PraÃ§a Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3,11,82.17
12,13,Fernanda,Ramos,None,Qe 7 Bloco G,BrasÃ­lia,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4,15,106.92
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5,10,29.70
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3,9,66.33
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4,8,74.25
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5,12,98.01
17,18,Michelle,Brooks,None,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3,8,79.20
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3,9,54.45
19,20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4,12,95.04
20,21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5,11,91.08
21,22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4,12,92.07
22,23,John,Gordon,None,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4,10,66.33
23,24,Frank,Ralston,None,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,None,fralston@gmail.com,3,8,71.28
24,25,Victor,Stevens,None,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,None,vstevens@yahoo.com,5,10,76.23
25,26,Richard,Cunningham,None,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,None,ricunningham@hotmail.com,4,12,86.13
26,27,Patrick,Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4,9,84.15
27,28,Julia,Barnett,None,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,None,jubarnett@gmail.com,5,10,72.27
28,29,Robert,Brown,None,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,None,robbrown@shaw.ca,3,4,40.59
29,30,Edward,Francis,None,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,None,edfrancis@yachoo.ca,3,13,91.08
30,31,Martha,Silk,None,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,None,marthasilk@gmail.com,5,11,62.37
31,32,Aaron,Mitchell,None,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,None,aaronmitchell@yahoo.ca,4,8,70.29
32,33,Ellie,Sullivan,None,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,None,ellie.sullivan@shaw.ca,3,12,75.24
33,34,JoÃ£o,Fernandes,None,Rua da AssunÃ§Ã£o 53,Lisbon,None,Portugal,None,+351 (213) 466-111,None,jfernandes@yahoo.pt,4,13,102.96
34,35,Madalena,Sampaio,None,"Rua dos CampeÃµes Europeus de Viena, 4350",Porto,None,Portugal,None,+351 (225) 022-448,None,masampaio@sapo.pt,4,16,82.17
35,36,Hannah,Schneider,None,TauentzienstraÃŸe 8,Berlin,None,Germany,10789,+49 030 26550280,None,hannah.schneider@yahoo.de,5,11,85.14
36,37,Fynn,Zimmermann,None,Berger StraÃŸe 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3,10,94.05
37,38,Niklas,SchrÃ¶der,None,BarbarossastraÃŸe 19,Berlin,None,Germany,10779,+49 030 2141444,None,nschroder@surfeu.de,3,9,73.26
38,39,Camille,Bernard,None,"4, Rue Milton",Paris,None,France,75009,+33 01 49 70 65 65,None,camille.bernard@yahoo.fr,4,9,79.20
39,40,Dominique,Lefebvre,None,"8, Rue Hanovre",Paris,None,France,75002,+33 01 47 42 71 71,None,dominiquelefebvre@gmail.com,4,9,72.27
40,41,Marc,Dubois,None,"11, Place Bellecour",Lyon,None,France,69002,+33 04 78 30 30 30,None,marc.dubois@hotmail.com,5,9,64.35
41,42,Wyatt,Girard,None,"9, Place Louis Barthou",Bordeaux,None,France,33000,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr,3,11,99.99
42,43,Isabelle,Mercier,None,"68, Rue Jouvence",Dijon,None,France,21000,+33 03 80 73 66 99,None,isabelle_mercier@apple.fr,3,12,73.26
43,44,Terhi,HÃ¤mÃ¤lÃ¤inen,None,Porthaninkatu 9,Helsinki,None,Finland,00530,+358 09 870 2000,None,terhi.hamalainen@apple.fi,3,11,79.20
44,45,Ladislav,KovÃ¡cs,None,ErzsÃ©bet krt. 58.,Budapest,None,Hungary,H-1073,None,None,ladislav_kovacs@apple.hu,3,10,78.21
45,46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3,13,114.84
46,47,Lucas,Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5,9,50.49
47,48,Johannes,Van der Berg,None,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,None,johavanderberg@yahoo.nl,5,10,65.34
48,49,StanisÅ‚aw,WÃ³jcik,None,Ordynacka 10,Warsaw,None,Poland,00-358,+48 22 828 37 39,None,stanisÅ‚aw.wÃ³jcik@wp.pl,4,10,76.23
49,50,Enrique,MuÃ±oz,None,C/ San Bernardo 85,Madrid,None,Spain,28015,+34 914 454 454,None,enrique_munoz@yahoo.es,5,11,98.01
50,51,Joakim,Johansson,None,Celsiusg. 9,Stockholm,None,Sweden,11230,+46 08-651 52 52,None,joakim.johansson@yahoo.se,5,10,75.24
51,52,Emma,Jones,None,202 Hoxton Street,London,None,United Kingdom,N1 5LH,+44 020 7707 0707,None,emma_jones@hotmail.com,3,8,68.31
52,53,Phil,Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3,11,98.01
53,54,Steve,Murray,None,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,+44 0131 315 3300,None,steve.murray@yahoo.uk,5,9,79.20
54,55,Mark,Taylor,None,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,None,mark.taylor@yahoo.au,4,10,81.18
55,56,Diego,GutiÃ©rrez,None,307 Macacha GÃ¼emes,Buenos Aires,None,Argentina,1106,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar,4,5,39.60
56,57,Luis,Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5,13,97.02
57,58,Manoj,Pareek,None,"12,Community Centre",Delhi,None,India,110017,+91 0124 39883988,None,manoj.pareek@rediff.com,3,13,111.87
58,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3,8,71.28

### Customer Details with Invoice Count and Total Spending
This query joins the Customer and Invoice tables using customer_id
and calculates the total number of invoices and total amount spent by each customer total amount spent > 90.

In [ ]:
q='''select c.*,sum(inv.total) total_spent from customer c
     left join invoice inv
     on
     c.customer_id =inv.customer_id
     group by inv.customer_id
     Having sum(inv.total) > 90 '''

In [ ]:
sql_query(q)

,customer_id,first_name,last_name,company,address,city,state,country,postal_code,phone,fax,email,support_rep_id,total_spent
0,1,LuÃ­s,GonÃ§alves,Embraer - Empresa Brasileira de AeronÃ¡utica S.A.,"Av. Brigadeiro Faria Lima, 2170",SÃ£o JosÃ© dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,108.90
1,3,FranÃ§ois,Tremblay,None,1498 rue BÃ©langer,MontrÃ©al,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3,99.99
2,5,FrantiÅ¡ek,WichterlovÃ¡,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4,144.54
3,6,Helena,HolÃ½,None,RilskÃ¡ 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5,128.70
4,13,Fernanda,Ramos,None,Qe 7 Bloco G,BrasÃ­lia,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4,106.92
5,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5,98.01
6,20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4,95.04
7,21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5,91.08
8,22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4,92.07
9,30,Edward,Francis,None,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,None,edfrancis@yachoo.ca,3,91.08
10,34,JoÃ£o,Fernandes,None,Rua da AssunÃ§Ã£o 53,Lisbon,None,Portugal,None,+351 (213) 466-111,None,jfernandes@yahoo.pt,4,102.96
11,37,Fynn,Zimmermann,None,Berger StraÃŸe 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3,94.05
12,42,Wyatt,Girard,None,"9, Place Louis Barthou",Bordeaux,None,France,33000,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr,3,99.99
13,46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3,114.84
14,50,Enrique,MuÃ±oz,None,C/ San Bernardo 85,Madrid,None,Spain,28015,+34 914 454 454,None,enrique_munoz@yahoo.es,5,98.01
15,53,Phil,Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3,98.01
16,57,Luis,Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5,97.02
17,58,Manoj,Pareek,None,"12,Community Centre",Delhi,None,India,110017,+91 0124 39883988,None,manoj.pareek@rediff.com,3,111.87

### Customer Details with Invoice Count and Total Spending
This query joins the Customer and Invoice tables using customer_id
and calculates the Top 3 total number of invoices and total amount spent by customer.

In [ ]:
q ='''select c.*,sum(inv.total) total_spent from customer c
      inner join invoice inv
      on
      c.customer_id = inv.customer_id
      group by inv.customer_id
      order by total_spent desc
      limit 3
    '''

In [ ]:
sql_query(q)

,customer_id,first_name,last_name,company,address,city,state,country,postal_code,phone,fax,email,support_rep_id,total_spent
0,5,FrantiÅ¡ek,WichterlovÃ¡,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4,144.54
1,6,Helena,HolÃ½,None,RilskÃ¡ 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5,128.70
2,46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3,114.84